asgiref==3.4.1
astroid==2.8.2
autopep8==1.5.7
dj-database-url==0.5.0
Django==4.0
django-crispy-forms==1.14.0
django-heroku==0.3.1
et-xmlfile==1.1.0
gunicorn==20.1.0
isort==5.9.3
lazy-object-proxy==1.6.0
mccabe==0.6.1
numpy==1.21.2
openpyxl==3.0.9
Pillow==8.3.2
platformdirs==2.4.0
psycopg2==2.9.3
pycodestyle==2.8.0
pylint==2.11.1
sqlparse==0.4.2
toml==0.10.2
typing-extensions==3.10.0.2
whitenoise==6.0.0
wrapt==1.12.1
