{% extends 'polls/orange.html' %}

{% block content %}

<script>
    flavour = ""
    texture = ""
    cheesename = ""
    function selectOne(checkbox){ // pick one option only
        var checkboxes = document.getElementsByName('check')
        checkboxes.forEach((item) => {
    if (item != checkbox) item.checked = false
})
    }
    function findChecked(){ // has something been ticked alr
        let box;
        var checkboxes = document.getElementsByName('check')
        checkboxes.forEach((item) => {
    if (item.checked) box = item
})
    return box
    }
    function nextPage(from ,to){ 
        //picked one yet? used later for screen "redirect"
        let checked = findChecked()
        if (!checked){
            text = document.getElementById("didntcheck")
            text.style.visibility="visible"
            return
        }

        if (from == "page1"){
            flavour = checked.value
        }
        if (from == "page2"){
            texture = checked.value
            // go down the dict table
            var data;
            function get(d){
                console.log(d)
                cheese_table = d['cheese'] // gets from cheese section of dict

            output_cheese =cheese_table[flavour][texture]
            console.log(output_cheese)
            output_object = document.getElementById("response"); //cheese name key
            desc_object = document.getElementById("description"); // cheese desc key
            pair_object = document.getElementById("pair"); //wine name key
            pairdesc_object = document.getElementById("pairdesc"); // wine desc key
            wiki_object = document.getElementById("wiki"); // cheese wiki key
            winewiki_object = document.getElementById("winewiki"); // wine wiki key
            output_object.innerHTML = output_cheese['name'] // cheese name value
            desc_object.innerHTML = output_cheese['description'] // cheese desc value
            pair_object.innerHTML = output_cheese['pair'] // wine name value
            pairdesc_object.innerHTML = output_cheese['pairdesc'] // wine desc value
            wiki_object.href = output_cheese['wiki'] // cheese wiki value
            winewiki_object.href = output_cheese['winewiki'] // wine wiki value
            img_object = document.getElementById("cheesepic"); // cheese img key
            pairimg_object = document.getElementById("pairpic"); // wine img key
            img_object.src =  output_cheese['cheesepic'] // cheese img value
            pairimg_object.src =  output_cheese['pairpic'] // wine pic value
            console.log(document.getElementById("cheesepic"))
            }
            fetch("../static/polls/info.json") // read from info.json
  .then(response => response.json()) //Promise object
  .then(json => get(json)); // gets from json file
            
            
        }
        from = document.getElementById(from); // first page
        to = document.getElementById(to); //second page

        to.style.visibility="visible"; //reveal second page
        from.remove() //delete first page
    }
</script>

<div class="container">
    <div id = "page1" 
     style="width: 30%; margin-left:40%;
    margin-right: 20px;
    float: left;
    padding: 20px;">

        <h1>Flavour</h1>
        <input type="radio" id="flavour" name="check" value = "strong" onclick="selectOne(this)">
        <label>Strong</label>
        <br>
        <input type="radio" id="flavour" name="check" value = "rich" onclick="selectOne(this)">
        <label>Rich</label>
        <br>
        <input type="radio" id="flavour" name="check" value = "creamy" onclick="selectOne(this)">
        <label>Creamy</label>
        <br>
        <input type="radio" id="flavour" name="check" value = "light" onclick="selectOne(this)">
        <label>Light</label>


        <br>
        <br>
        <a id = "didntcheck" style="visibility:hidden; color:red;">Please pick one</a>
        <br>
        <a onclick="nextPage('page1', 'page2')">Next Page</a> 
        <!-- delete page 1, show page 2, pretend it's a redirect-->
    </div>

<div id="page2" style="width: 30%;
margin-left:40%;
float: left;
margin-right: 20px;
padding: 20px; visibility:hidden">
    <h1>Texture</h1>
    <input type="radio" id="texture" name="check" value = "hard" onclick="selectOne(this)">
    <label>Hard</label>
    <br>
    <input type="radio" id="texture" name="check" value = "medium" onclick="selectOne(this)">
    <label>Medium</label>
    <br>
    <input type="radio" id="texture" name="check" value = "soft" onclick="selectOne(this)">
    <label>Soft</label>
    <br>
    <a id = "didntcheck" style="visibility:hidden; color:red;">Please pick one</a> <!-- error msg-->
    <br>
    <button type="submit" id="submit" value="Submit" onclick="nextPage('page2', 'results')">Submit</button>
    <!-- same thing as the last one, but this time from page 2 to results page-->

</div>

<div id="results"  style = "visibility: hidden;">
    <table width="80%" >
        <tr>
            <th><h1><i>Recommendation:</i></h1></th>
            <th> <h1><i>Pairing:</i></h1></th>
        </tr>
        <tr>
            <td><h2 id = "response"></h2></td>
            <td><h2 id="pair"></h2></td>
        </tr>
        <tr>
            <td><img id='cheesepic' width="250px" length="250px" ></img></td>
            <td><img id='pairpic' width="250px" length="250px"></img></td>
        </tr>
        <tr>
            <td><i id="description"></i></td>
            <td><i id="pairdesc"></i></td>
        </tr>
        <tr>
            <td><a id="wiki">Click here for more info</a></td>
            <td><a id="winewiki">Click here for more info</a></td>
        </tr>
    </table>
   
</div>

{% endblock %}