{% extends 'polls/base.html' %}

{% load static %}
<link rel="stylesheet" type="text/css" href="% static 'polls/css/bootstrap.css' %">

{% block title%}Edit Profile{% endblock %}

{% block content %}
  <h1>Edit Profile</h1>

  {% if submitted %}
    Your profile was edited successfully!

  {% else %}
    <form action="" method=POST enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}

      <input type="submit" value="Submit" class="btn btn-secondary">

    </form>
  {% endif %}

{% endblock %}

<!--there seems to be something wrong with my code over here. despite the fact
that i added all of the forms in forms.py, as well as configuring it inside of 
views.py, nothing shows up when the page is loaded... what's happening here?-->