{% extends 'polls/base.html' %}

{% load static %}
<link rel="stylesheet" type="text/css" href="% static 'polls/css/bootstrap.css' %">

{% block content %}

<h2>Hello {{ user.username }}!</h2>

<div class="form-group">
  <form method="POST" enctype="multipart/form-data">
  <ul>
    <img src="{{ user.profile.avatar.url }}">
   
    <br/>
    <li>Name: {{ user.profile.name }}</li>
    <li>Bio: {{ user.profile.bio }}</li>
    <li>Age: {{ user.profile.age }}</li>
    <li>Birth Date: {{ user.profile.birthday }}</li>
  </ul>
</div>


{% endblock %}